openapi: 3.0.0
info:
  title: CometBFT RPC
  description: |
    CometBFT supports the following RPC protocols:

    * URI over HTTP
    * JSONRPC over HTTP
    * JSONRPC over websockets

    ## Configuration

    RPC can be configured by tuning parameters under `[rpc]` table in the
    `$CMTHOME/config/config.toml` file or by using the `--rpc.X` command-line
    flags.

    The default RPC listen address is `tcp://127.0.0.1:26657`.
    To set another address, set the `laddr` config parameter to desired value.
    CORS (Cross-Origin Resource Sharing) can be enabled by setting
    `cors_allowed_origins`, `cors_allowed_methods`, `cors_allowed_headers`
    config parameters.

    If testing using a local RPC node, under the `[rpc]`
    section change the `cors_allowed_origins` property, please add the URL of
    the site where this OpenAPI document is running, for example:

      `cors_allowed_origins = ["http://localhost:8088"]`

    or if testing from the official documentation site:

      `cors_allowed_origins = ["https://docs.cometbft.com"]`

    ## Arguments

    Arguments which expect strings or byte arrays may be passed as quoted
    strings, like `"abc"` or as `0x`-prefixed strings, like `0x616263`.

    ## URI/HTTP

    A REST like interface.

        curl localhost:26657/block?height=5

    ## JSONRPC/HTTP

    JSONRPC requests can be POST'd to the root RPC endpoint via HTTP.

        curl --header "Content-Type: application/json" --request POST --data '{"method": "block", "params": ["5"], "id": 1}' localhost:26657

    ## JSONRPC/websockets

    JSONRPC requests can be also made via websocket.
    The websocket endpoint is at `/websocket`, e.g. `localhost:26657/websocket`.
    Asynchronous RPC functions like event `subscribe` and `unsubscribe` are
    only available via websockets.

    For example using the [websocat](https://github.com/vi/websocat) tool, you can subscribe for 'NewBlock` events
    with the following command:

        echo '{ "jsonrpc": "2.0","method": "subscribe","id": 0,"params": {"query": "tm.event='"'NewBlock'"'"} }' | websocat -n -t ws://127.0.0.1:26657/websocket
  contact:
    name: CometBFT
    url: https://cometbft.com/
  license:
    name: Apache 2.0
    url: https://github.com/cometbft/cometbft/blob/v0.38.x/LICENSE
  version: v0.38.x
servers:
- url: https://rpc.cosmos.directory/cosmoshub
  description: Interact with the CometBFT RPC from a public node in the Cosmos registry
- url: http://localhost:26657
  description: Interact with CometBFT RPC node running locally
tags:
- name: Info
  description: Informations about the node APIs
- name: Tx
  description: Transactions broadcast APIs
- name: ABCI
  description: ABCI APIs
- name: Evidence
  description: Evidence APIs
- name: Unsafe
  description: Unsafe APIs
paths:
  /broadcast_tx_sync:
    get:
      tags:
      - Tx
      summary: Returns with the response from CheckTx. Does not wait for DeliverTx
        result.
      description: |
        If you want to be sure that the transaction is included in a block, you can
        subscribe for the result using JSONRPC via a websocket. See
        https://docs.cometbft.com/v0.38.x/core/subscription.html
        If you haven't received anything after a couple of blocks, resend it. If the
        same happens again, send it to some other node. A few reasons why it could
        happen:

        1. malicious node can drop or pretend it had committed your tx
        2. malicious proposer (not necessary the one you're communicating with) can
        drop transactions, which might become valid in the future
        (https://github.com/tendermint/tendermint/issues/3322)


        Please refer to [formatting/encoding rules](https://docs.cometbft.com/v0.38.x/core/using-cometbft.html#formatting)
        for additional details
      operationId: broadcast_tx_sync
      parameters:
      - name: tx
        in: query
        description: The transaction
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "456"
      responses:
        "200":
          description: Empty
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastTxResponse'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /broadcast_tx_async:
    get:
      tags:
      - Tx
      summary: "Returns right away, with no response. Does not wait for CheckTx nor\
        \ DeliverTx results."
      description: |
        If you want to be sure that the transaction is included in a block, you can
        subscribe for the result using JSONRPC via a websocket. See
        https://docs.cometbft.com/v0.38.x/core/subscription.html
        If you haven't received anything after a couple of blocks, resend it. If the
        same happens again, send it to some other node. A few reasons why it could
        happen:

        1. malicious node can drop or pretend it had committed your tx
        2. malicious proposer (not necessary the one you're communicating with) can
        drop transactions, which might become valid in the future
        (https://github.com/tendermint/tendermint/issues/3322)
        3. node can be offline

        Please refer to [formatting/encoding rules](https://docs.cometbft.com/v0.38.x/core/using-cometbft.html#formatting)
        for additional details
      operationId: broadcast_tx_async
      parameters:
      - name: tx
        in: query
        description: The transaction
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: "123"
      responses:
        "200":
          description: empty answer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastTxResponse'
        "500":
          description: empty error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /broadcast_tx_commit:
    get:
      tags:
      - Tx
      summary: Returns with the responses from CheckTx and DeliverTx.
      description: |
        IMPORTANT: use only for testing and development. In production, use
        BroadcastTxSync or BroadcastTxAsync. You can subscribe for the transaction
        result using JSONRPC via a websocket. See
        https://docs.cometbft.com/v0.38.x/core/subscription.html

        CONTRACT: only returns error if mempool.CheckTx() errs or if we timeout
        waiting for tx to commit.

        If CheckTx or DeliverTx fail, no error will be returned, but the returned result
        will contain a non-OK ABCI code.

        Please refer to [formatting/encoding rules](https://docs.cometbft.com/v0.38.x/core/using-cometbft.html#formatting)
        for additional details
      operationId: broadcast_tx_commit
      parameters:
      - name: tx
        in: query
        description: The transaction
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: "785"
      responses:
        "200":
          description: empty answer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastTxCommitResponse'
        "500":
          description: empty error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /check_tx:
    get:
      tags:
      - Tx
      summary: Checks the transaction without executing it.
      description: |
        The transaction won't be added to the mempool.

        Please refer to [formatting/encoding rules](https://docs.cometbft.com/v0.38.x/core/using-cometbft.html#formatting)
        for additional details

        Upon success, the `Cache-Control` header will be set with the default
        maximum age.
      operationId: check_tx
      parameters:
      - name: tx
        in: query
        description: The transaction
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: "785"
      responses:
        "200":
          description: ABCI application's CheckTx response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckTxResponse'
        "500":
          description: empty error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /health:
    get:
      tags:
      - Info
      summary: Node heartbeat
      description: |
        Get node health. Returns empty result (200 OK) on success, no response - in case of an error.
      operationId: health
      responses:
        "200":
          description: Gets Node Health
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
        "500":
          description: empty error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /status:
    get:
      tags:
      - Info
      summary: Node Status
      description: |
        Get CometBFT status including node info, pubkey, latest block hash, app hash, block height and time.
      operationId: status
      responses:
        "200":
          description: Status of the node
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        "500":
          description: empty error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /net_info:
    get:
      tags:
      - Info
      summary: Network information
      description: |
        Get network info.
      operationId: net_info
      responses:
        "200":
          description: empty answer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetInfoResponse'
        "500":
          description: empty error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /dial_seeds:
    get:
      tags:
      - Unsafe
      summary: Dial Seeds (Unsafe)
      description: |
        Dial a peer, this route in under unsafe, and has to manually enabled to use

          **Example:** curl 'localhost:26657/dial_seeds?seeds=\["f9baeaa15fedf5e1ef7448dd60f46c01f1a9e9c4@1.2.3.4:26656","0491d373a8e0fcf1023aaf18c51d6a1d0d4f31bd@5.6.7.8:26656"\]'
      operationId: dial_seeds
      parameters:
      - name: peers
        in: query
        description: list of seed nodes to dial
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            example: f9baeaa15fedf5e1ef7448dd60f46c01f1a9e9c4@1.2.3.4:26656
      responses:
        "200":
          description: Dialing seeds in progress. See /net_info for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dialResp'
        "500":
          description: empty error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /dial_peers:
    get:
      tags:
      - Unsafe
      summary: Add Peers/Persistent Peers (unsafe)
      description: |
        Set a persistent peer, this route in under unsafe, and has to manually enabled to use.

        **Example:** curl 'localhost:26657/dial_peers?peers=\["f9baeaa15fedf5e1ef7448dd60f46c01f1a9e9c4@1.2.3.4:26656","0491d373a8e0fcf1023aaf18c51d6a1d0d4f31bd@5.6.7.8:26656"\]&persistent=false'
      operationId: dial_peers
      parameters:
      - name: persistent
        in: query
        description: Have the peers you are dialing be persistent
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: true
      - name: unconditional
        in: query
        description: Have the peers you are dialing be unconditional
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: true
      - name: private
        in: query
        description: Have the peers you are dialing be private
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: true
      - name: peers
        in: query
        description: array of peers to dial
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            example: f9baeaa15fedf5e1ef7448dd60f46c01f1a9e9c4@1.2.3.4:26656
      responses:
        "200":
          description: Dialing seeds in progress. See /net_info for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dialResp'
        "500":
          description: empty error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /blockchain:
    get:
      tags:
      - Info
      summary: "Get block headers (max: 20) for minHeight <= height <= maxHeight."
      description: |
        Get block headers for minHeight <= height <= maxHeight.

        At most 20 items will be returned.

        Upon success, the `Cache-Control` header will be set with the default
        maximum age.
      operationId: blockchain
      parameters:
      - name: minHeight
        in: query
        description: Minimum block height to return
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 1
      - name: maxHeight
        in: query
        description: Maximum block height to return
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 2
      responses:
        "200":
          description: "Block headers, returned in descending order (highest first)."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockchainResponse'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /header:
    get:
      tags:
      - Info
      summary: Get header at a specified height
      description: |
        Get Header.

        If the `height` field is set to a non-default value, upon success, the
        `Cache-Control` header will be set with the default maximum age.
      operationId: header
      parameters:
      - name: height
        in: query
        description: "height to return. If no height is provided, it will fetch the\
          \ latest header."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 1
          default: 0
      responses:
        "200":
          description: Header informations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockHeader'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /header_by_hash:
    get:
      tags:
      - Info
      summary: Get header by hash
      description: |
        Get Header By Hash.

        Upon success, the `Cache-Control` header will be set with the default
        maximum age.
      operationId: header_by_hash
      parameters:
      - name: hash
        in: query
        description: header hash
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: 0xD70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
      responses:
        "200":
          description: Header informations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockHeader'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /block:
    get:
      tags:
      - Info
      summary: Get block at a specified height
      description: |
        Get Block.

        If the `height` field is set to a non-default value, upon success, the
        `Cache-Control` header will be set with the default maximum age.
      operationId: block
      parameters:
      - name: height
        in: query
        description: "height to return. If no height is provided, it will fetch the\
          \ latest block."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 1
          default: 0
      responses:
        "200":
          description: Block informations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockResponse'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /block_by_hash:
    get:
      tags:
      - Info
      summary: Get block by hash
      description: |
        Get Block By Hash.

        Upon success, the `Cache-Control` header will be set with the default
        maximum age.
      operationId: block_by_hash
      parameters:
      - name: hash
        in: query
        description: block hash
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: 0xD70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
      responses:
        "200":
          description: Block informations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockResponse'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /block_results:
    get:
      tags:
      - Info
      summary: Get block results at a specified height
      description: |
        Get block_results.

        If the `height` field is set to a non-default value, upon success, the
        `Cache-Control` header will be set with the default maximum age.
      operationId: block_results
      parameters:
      - name: height
        in: query
        description: "height to return. If no height is provided, it will fetch information\
          \ regarding the latest block."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 1
          default: 0
      responses:
        "200":
          description: Block results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockResultsResponse'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /commit:
    get:
      tags:
      - Info
      summary: Get commit results at a specified height
      description: |
        Get Commit.

        If the `height` field is set to a non-default value, upon success, the
        `Cache-Control` header will be set with the default maximum age.
      operationId: commit
      parameters:
      - name: height
        in: query
        description: "height to return. If no height is provided, it will fetch commit\
          \ informations regarding the latest block."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 1
          default: 0
      responses:
        "200":
          description: |
            Commit results.

            canonical switches from false to true for block H once block H+1 has been committed. Until then it's subjective and only reflects what this node has seen so far.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitResponse'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /validators:
    get:
      tags:
      - Info
      summary: Get validator set at a specified height
      description: |
        Get Validators. Validators are sorted first by voting power
        (descending), then by address (ascending).

        If the `height` field is set to a non-default value, upon success, the
        `Cache-Control` header will be set with the default maximum age.
      operationId: validators
      parameters:
      - name: height
        in: query
        description: "height to return. If no height is provided, it will fetch validator\
          \ set which corresponds to the latest block."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 1
          default: 0
      - name: page
        in: query
        description: Page number (1-based)
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 1
          default: 1
      - name: per_page
        in: query
        description: "Number of entries per page (max: 100)"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 30
          default: 30
      responses:
        "200":
          description: Commit results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatorsResponse'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /genesis:
    get:
      tags:
      - Info
      summary: Get Genesis
      description: |
        Get genesis.

        Upon success, the `Cache-Control` header will be set with the default
        maximum age.
      operationId: genesis
      responses:
        "200":
          description: Genesis results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenesisResponse'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /genesis_chunked:
    get:
      tags:
      - Info
      summary: Get Genesis in multiple chunks
      description: |
        Get genesis document in multiple chunks to make it easier to iterate
        through larger genesis structures. Each chunk is produced by converting
        the genesis document to JSON and then splitting the resulting payload
        into 16MB blocks, and then Base64-encoding each block.

        Upon success, the `Cache-Control` header will be set with the default
        maximum age.
      operationId: genesis_chunked
      parameters:
      - name: chunk
        in: query
        description: Sequence number of the chunk to download.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 1
          default: 0
      responses:
        "200":
          description: Genesis chunk response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenesisChunkedResponse'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /dump_consensus_state:
    get:
      tags:
      - Info
      summary: Get consensus state
      description: |
        Get consensus state.

        Not safe to call from inside the ABCI application during a block execution.
      operationId: dump_consensus_state
      responses:
        "200":
          description: |
            Complete consensus state.

            See https://pkg.go.dev/github.com/cometbft/cometbft/types?tab=doc#Vote.String for Vote string description.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DumpConsensusResponse'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /consensus_state:
    get:
      tags:
      - Info
      summary: Get consensus state
      description: |
        Get consensus state.

        Not safe to call from inside the ABCI application during a block execution.
      operationId: consensus_state
      responses:
        "200":
          description: consensus state results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsensusStateResponse'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /consensus_params:
    get:
      tags:
      - Info
      summary: Get consensus parameters
      description: |
        Get consensus parameters.

        If the `height` field is set to a non-default value, upon success, the
        `Cache-Control` header will be set with the default maximum age.
      operationId: consensus_params
      parameters:
      - name: height
        in: query
        description: "height to return. If no height is provided, it will fetch commit\
          \ informations regarding the latest block."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 1
          default: 0
      responses:
        "200":
          description: consensus parameters results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsensusParamsResponse'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /unconfirmed_txs:
    get:
      tags:
      - Info
      summary: Get the list of unconfirmed transactions
      description: |
        Get list of unconfirmed transactions
      operationId: unconfirmed_txs
      parameters:
      - name: limit
        in: query
        description: Maximum number of unconfirmed transactions to return (max 100)
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 1
          default: 30
      responses:
        "200":
          description: List of unconfirmed transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnconfirmedTransactionsResponse'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /num_unconfirmed_txs:
    get:
      tags:
      - Info
      summary: Get data about unconfirmed transactions
      description: |
        Get data about unconfirmed transactions
      operationId: num_unconfirmed_txs
      responses:
        "200":
          description: status about unconfirmed transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumUnconfirmedTransactionsResponse'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tx_search:
    get:
      tags:
      - Info
      summary: Search for transactions
      description: |
        Search for transactions w/ their results.

        See /subscribe for the query syntax.
      operationId: tx_search
      parameters:
      - name: query
        in: query
        description: Query
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: '"tx.height=1000"'
      - name: prove
        in: query
        description: Include proofs of the transactions inclusion in the block
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: true
          default: false
      - name: page
        in: query
        description: Page number (1-based)
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 1
          default: 1
      - name: per_page
        in: query
        description: "Number of entries per page (max: 100)"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 30
          default: 30
      - name: order_by
        in: query
        description: "Order in which transactions are sorted (\"asc\" or \"desc\"\
          ), by height & index. If empty, default sorting will be still applied."
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: asc
          default: asc
      responses:
        "200":
          description: List of unconfirmed transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxSearchResponse'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /block_search:
    get:
      tags:
      - Info
      summary: Search for blocks by FinalizeBlock events
      description: |
        Search for blocks by FinalizeBlock events.

        See /subscribe for the query syntax.
      operationId: block_search
      parameters:
      - name: query
        in: query
        description: Query
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: '"block.height > 1000 AND valset.changed > 0"'
      - name: page
        in: query
        description: Page number (1-based)
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 1
          default: 1
      - name: per_page
        in: query
        description: "Number of entries per page (max: 100)"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 30
          default: 30
      - name: order_by
        in: query
        description: "Order in which blocks are sorted (\"asc\" or \"desc\"), by height.\
          \ If empty, default sorting will be still applied."
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: asc
          default: desc
      responses:
        "200":
          description: List of paginated blocks matching the search criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockSearchResponse'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tx:
    get:
      tags:
      - Info
      summary: Get transactions by hash
      description: |
        Get a transaction

        Upon success, the `Cache-Control` header will be set with the default
        maximum age.
      operationId: tx
      parameters:
      - name: hash
        in: query
        description: hash of transaction to retrieve
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: 0xD70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
      - name: prove
        in: query
        description: Include proofs of the transaction's inclusion in the block
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: true
          default: false
      responses:
        "200":
          description: Get a transaction`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxResponse'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /abci_info:
    get:
      tags:
      - ABCI
      summary: Get info about the application.
      description: |
        Get info about the application.

        Upon success, the `Cache-Control` header will be set with the default
        maximum age.
      operationId: abci_info
      responses:
        "200":
          description: Get some info about the application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ABCIInfoResponse'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /abci_query:
    get:
      tags:
      - ABCI
      summary: Query the application for some information.
      description: |
        Query the application for some information.
      operationId: abci_query
      parameters:
      - name: path
        in: query
        description: Path to the data ("/a/b/c")
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: '"/a/b/c"'
      - name: data
        in: query
        description: Data
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: IHAVENOIDEA
      - name: height
        in: query
        description: Height (0 means latest)
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 1
          default: 0
      - name: prove
        in: query
        description: Include proofs of the transactions inclusion in the block
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: true
          default: false
      responses:
        "200":
          description: Response of the submitted query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ABCIQueryResponse'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /broadcast_evidence:
    get:
      tags:
      - Info
      summary: Broadcast evidence of the misbehavior.
      description: |
        Broadcast evidence of the misbehavior.
      operationId: broadcast_evidence
      parameters:
      - name: evidence
        in: query
        description: JSON evidence
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: JSON_EVIDENCE_encoded
      responses:
        "200":
          description: Broadcast evidence of the misbehavior.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastEvidenceResponse'
        "500":
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    JSONRPC:
      type: object
      properties:
        id:
          type: integer
          example: 0
        jsonrpc:
          type: string
          example: "2.0"
    EmptyResponse:
      description: Empty Response
      allOf:
      - $ref: '#/components/schemas/JSONRPC'
      - type: object
        properties:
          result:
            type: object
            additionalProperties: {}
    ErrorResponse:
      description: Error Response
      allOf:
      - $ref: '#/components/schemas/JSONRPC'
      - type: object
        properties:
          error:
            type: string
            example: Description of failure
    ProtocolVersion:
      type: object
      properties:
        p2p:
          type: string
          example: "7"
        block:
          type: string
          example: "10"
        app:
          type: string
          example: "0"
    PubKey:
      type: object
      properties:
        type:
          type: string
          example: tendermint/PubKeyEd25519
        value:
          type: string
          example: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
      example:
        type: tendermint/PubKeyEd25519
        value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
    NodeInfo:
      type: object
      properties:
        protocol_version:
          $ref: '#/components/schemas/ProtocolVersion'
        id:
          type: string
          example: 5576458aef205977e18fd50b274e9b5d9014525a
        listen_addr:
          type: string
          example: tcp:0.0.0.0:26656
        network:
          type: string
          example: cosmoshub-2
        version:
          type: string
          example: 0.32.1
        channels:
          type: string
          example: "4020212223303800"
        moniker:
          type: string
          example: moniker-node
        other:
          $ref: '#/components/schemas/NodeInfo_other'
    SyncInfo:
      type: object
      properties:
        latest_block_hash:
          type: string
          example: 790BA84C3545FCCC49A5C629CEE6EA58A6E875C3862175BDC11EE7AF54703501
        latest_app_hash:
          type: string
          example: C9AEBB441B787D9F1D846DE51F3826F4FD386108B59B08239653ABF59455C3F8
        latest_block_height:
          type: string
          example: "1262196"
        latest_block_time:
          type: string
          example: 2019-08-01T11:52:22.818762194Z
        earliest_block_hash:
          type: string
          example: 790BA84C3545FCCC49A5C629CEE6EA58A6E875C3862175BDC11EE7AF54703501
        earliest_app_hash:
          type: string
          example: C9AEBB441B787D9F1D846DE51F3826F4FD386108B59B08239653ABF59455C3F8
        earliest_block_height:
          type: string
          example: "1262196"
        earliest_block_time:
          type: string
          example: 2019-08-01T11:52:22.818762194Z
        catching_up:
          type: boolean
          example: false
    ValidatorInfo:
      type: object
      properties:
        address:
          type: string
          example: 5D6A51A8E9899C44079C6AF90618BA0369070E6E
        pub_key:
          $ref: '#/components/schemas/PubKey'
        voting_power:
          type: string
          example: "0"
    Status:
      type: object
      properties:
        node_info:
          $ref: '#/components/schemas/NodeInfo'
        sync_info:
          $ref: '#/components/schemas/SyncInfo'
        validator_info:
          $ref: '#/components/schemas/ValidatorInfo'
      description: Status Response
    StatusResponse:
      description: Status Response
      allOf:
      - $ref: '#/components/schemas/JSONRPC'
      - type: object
        properties:
          result:
            $ref: '#/components/schemas/Status'
    Monitor:
      type: object
      properties:
        Active:
          type: boolean
          example: true
        Start:
          type: string
          example: 2019-07-31T14:31:28.66Z
        Duration:
          type: string
          example: "168901060000000"
        Idle:
          type: string
          example: "168901040000000"
        Bytes:
          type: string
          example: "5"
        Samples:
          type: string
          example: "1"
        InstRate:
          type: string
          example: "0"
        CurRate:
          type: string
          example: "0"
        AvgRate:
          type: string
          example: "0"
        PeakRate:
          type: string
          example: "0"
        BytesRem:
          type: string
          example: "0"
        TimeRem:
          type: string
          example: "0"
        Progress:
          type: integer
          example: 0
    Channel:
      type: object
      properties:
        ID:
          type: integer
          example: 48
        SendQueueCapacity:
          type: string
          example: "1"
        SendQueueSize:
          type: string
          example: "0"
        Priority:
          type: string
          example: "5"
        RecentlySent:
          type: string
          example: "0"
    ConnectionStatus:
      type: object
      properties:
        Duration:
          type: string
          example: "168901057956119"
        SendMonitor:
          $ref: '#/components/schemas/Monitor'
        RecvMonitor:
          $ref: '#/components/schemas/Monitor'
        Channels:
          type: array
          items:
            $ref: '#/components/schemas/Channel'
    Peer:
      type: object
      properties:
        node_info:
          $ref: '#/components/schemas/NodeInfo'
        is_outbound:
          type: boolean
          example: true
        connection_status:
          $ref: '#/components/schemas/ConnectionStatus'
        remote_ip:
          type: string
          example: 95.179.155.35
    NetInfo:
      type: object
      properties:
        listening:
          type: boolean
          example: true
        listeners:
          type: array
          items:
            type: string
            example: Listener(@)
        n_peers:
          type: string
          example: "1"
        peers:
          type: array
          items:
            $ref: '#/components/schemas/Peer'
    NetInfoResponse:
      description: NetInfo Response
      allOf:
      - $ref: '#/components/schemas/JSONRPC'
      - type: object
        properties:
          result:
            $ref: '#/components/schemas/NetInfo'
    BlockMeta:
      type: object
      properties:
        block_id:
          $ref: '#/components/schemas/BlockID'
        block_size:
          type: integer
          example: 1000000
        header:
          $ref: '#/components/schemas/BlockHeader'
        num_txs:
          type: string
          example: "54"
    Blockchain:
      required:
      - block_metas
      - last_height
      type: object
      properties:
        last_height:
          type: string
          example: "1276718"
        block_metas:
          type: array
          items:
            $ref: '#/components/schemas/BlockMeta'
    BlockchainResponse:
      description: Blockchain info
      allOf:
      - $ref: '#/components/schemas/JSONRPC'
      - type: object
        properties:
          result:
            $ref: '#/components/schemas/Blockchain'
    Commit:
      required:
      - block_id
      - height
      - round
      - signature
      - timestamp
      - type
      - validator_address
      - validator_index
      properties:
        type:
          type: integer
          example: 2
        height:
          type: string
          example: "1262085"
        round:
          type: integer
          example: 0
        block_id:
          $ref: '#/components/schemas/BlockID'
        timestamp:
          type: string
          example: 2019-08-01T11:39:38.867269833Z
        validator_address:
          type: string
          example: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
        validator_index:
          type: integer
          example: 0
        signature:
          type: string
          example: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
      example:
        round: 0
        signature: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
        validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
        validator_index: 0
        type: 2
        block_id: null
        height: "1262085"
        timestamp: 2019-08-01T11:39:38.867269833Z
    Block:
      type: object
      properties:
        header:
          $ref: '#/components/schemas/BlockHeader'
        data:
          type: array
          items:
            type: string
            example: yQHwYl3uCkKoo2GaChRnd+THLQ2RM87nEZrE19910Z28ABIUWW/t8AtIMwcyU0sT32RcMDI9GF0aEAoFdWF0b20SBzEwMDAwMDASEwoNCgV1YXRvbRIEMzEwMRCd8gEaagom61rphyEDoJPxlcjRoNDtZ9xMdvs+lRzFaHe2dl2P5R2yVCWrsHISQKkqX5H1zXAIJuC57yw0Yb03Fwy75VRip0ZBtLiYsUqkOsPUoQZAhDNP+6LY+RUwz/nVzedkF0S29NZ32QXdGv0=
        evidence:
          type: array
          items:
            $ref: '#/components/schemas/Evidence'
        last_commit:
          $ref: '#/components/schemas/Block_last_commit'
      example:
        data:
        - yQHwYl3uCkKoo2GaChRnd+THLQ2RM87nEZrE19910Z28ABIUWW/t8AtIMwcyU0sT32RcMDI9GF0aEAoFdWF0b20SBzEwMDAwMDASEwoNCgV1YXRvbRIEMzEwMRCd8gEaagom61rphyEDoJPxlcjRoNDtZ9xMdvs+lRzFaHe2dl2P5R2yVCWrsHISQKkqX5H1zXAIJuC57yw0Yb03Fwy75VRip0ZBtLiYsUqkOsPUoQZAhDNP+6LY+RUwz/nVzedkF0S29NZ32QXdGv0=
        - yQHwYl3uCkKoo2GaChRnd+THLQ2RM87nEZrE19910Z28ABIUWW/t8AtIMwcyU0sT32RcMDI9GF0aEAoFdWF0b20SBzEwMDAwMDASEwoNCgV1YXRvbRIEMzEwMRCd8gEaagom61rphyEDoJPxlcjRoNDtZ9xMdvs+lRzFaHe2dl2P5R2yVCWrsHISQKkqX5H1zXAIJuC57yw0Yb03Fwy75VRip0ZBtLiYsUqkOsPUoQZAhDNP+6LY+RUwz/nVzedkF0S29NZ32QXdGv0=
        evidence:
        - total_voting_power: 1
          validator:
            address: address
            pub_key:
              type: tendermint/PubKeyEd25519
              value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
            voting_power: 5
          time: 6
          type: type
          height: 0
        - total_voting_power: 1
          validator:
            address: address
            pub_key:
              type: tendermint/PubKeyEd25519
              value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
            voting_power: 5
          time: 6
          type: type
          height: 0
        last_commit:
          round: 2
          block_id: null
          signatures:
          - round: 0
            signature: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
            validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
            validator_index: 0
            type: 2
            block_id: null
            height: "1262085"
            timestamp: 2019-08-01T11:39:38.867269833Z
          - round: 0
            signature: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
            validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
            validator_index: 0
            type: 2
            block_id: null
            height: "1262085"
            timestamp: 2019-08-01T11:39:38.867269833Z
          height: 5
        header:
          validators_hash: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
          chain_id: cosmoshub-2
          consensus_hash: 0F2908883A105C793B74495EB7D6DF2EEA479ED7FC9349206A65CB0F9987A0B8
          proposer_address: D540AB022088612AC74B287D076DBFBC4A377A2E
          next_validators_hash: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
          version:
            app: "0"
            block: "10"
          data_hash: 970886F99E77ED0D60DA8FCE0447C2676E59F2F77302B0C4AA10E1D02F18EF73
          last_results_hash: ""
          last_block_id:
            parts:
              total: 1
              hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
            hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
          evidence_hash: ""
          app_hash: 223BF64D4A01074DC523A80E76B9BBC786C791FB0A1893AC5B14866356FCFD6C
          time: 2019-04-22T17:01:51.701356223Z
          height: "12"
          last_commit_hash: 21B9BC845AD2CB2C4193CDD17BFC506F1EBE5A7402E84AD96E64171287A34812
    Evidence:
      type: object
      properties:
        type:
          type: string
        height:
          type: integer
        time:
          type: integer
        total_voting_power:
          type: integer
        validator:
          $ref: '#/components/schemas/Validator'
      example:
        total_voting_power: 1
        validator:
          address: address
          pub_key:
            type: tendermint/PubKeyEd25519
            value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
          voting_power: 5
        time: 6
        type: type
        height: 0
    BlockComplete:
      type: object
      properties:
        block_id:
          $ref: '#/components/schemas/BlockID'
        block:
          $ref: '#/components/schemas/Block'
      example:
        block:
          data:
          - yQHwYl3uCkKoo2GaChRnd+THLQ2RM87nEZrE19910Z28ABIUWW/t8AtIMwcyU0sT32RcMDI9GF0aEAoFdWF0b20SBzEwMDAwMDASEwoNCgV1YXRvbRIEMzEwMRCd8gEaagom61rphyEDoJPxlcjRoNDtZ9xMdvs+lRzFaHe2dl2P5R2yVCWrsHISQKkqX5H1zXAIJuC57yw0Yb03Fwy75VRip0ZBtLiYsUqkOsPUoQZAhDNP+6LY+RUwz/nVzedkF0S29NZ32QXdGv0=
          - yQHwYl3uCkKoo2GaChRnd+THLQ2RM87nEZrE19910Z28ABIUWW/t8AtIMwcyU0sT32RcMDI9GF0aEAoFdWF0b20SBzEwMDAwMDASEwoNCgV1YXRvbRIEMzEwMRCd8gEaagom61rphyEDoJPxlcjRoNDtZ9xMdvs+lRzFaHe2dl2P5R2yVCWrsHISQKkqX5H1zXAIJuC57yw0Yb03Fwy75VRip0ZBtLiYsUqkOsPUoQZAhDNP+6LY+RUwz/nVzedkF0S29NZ32QXdGv0=
          evidence:
          - total_voting_power: 1
            validator:
              address: address
              pub_key:
                type: tendermint/PubKeyEd25519
                value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
              voting_power: 5
            time: 6
            type: type
            height: 0
          - total_voting_power: 1
            validator:
              address: address
              pub_key:
                type: tendermint/PubKeyEd25519
                value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
              voting_power: 5
            time: 6
            type: type
            height: 0
          last_commit:
            round: 2
            block_id: null
            signatures:
            - round: 0
              signature: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
              validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
              validator_index: 0
              type: 2
              block_id: null
              height: "1262085"
              timestamp: 2019-08-01T11:39:38.867269833Z
            - round: 0
              signature: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
              validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
              validator_index: 0
              type: 2
              block_id: null
              height: "1262085"
              timestamp: 2019-08-01T11:39:38.867269833Z
            height: 5
          header:
            validators_hash: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
            chain_id: cosmoshub-2
            consensus_hash: 0F2908883A105C793B74495EB7D6DF2EEA479ED7FC9349206A65CB0F9987A0B8
            proposer_address: D540AB022088612AC74B287D076DBFBC4A377A2E
            next_validators_hash: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
            version:
              app: "0"
              block: "10"
            data_hash: 970886F99E77ED0D60DA8FCE0447C2676E59F2F77302B0C4AA10E1D02F18EF73
            last_results_hash: ""
            last_block_id:
              parts:
                total: 1
                hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
              hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
            evidence_hash: ""
            app_hash: 223BF64D4A01074DC523A80E76B9BBC786C791FB0A1893AC5B14866356FCFD6C
            time: 2019-04-22T17:01:51.701356223Z
            height: "12"
            last_commit_hash: 21B9BC845AD2CB2C4193CDD17BFC506F1EBE5A7402E84AD96E64171287A34812
        block_id:
          parts:
            total: 1
            hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
          hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
    BlockResponse:
      description: Blockc info
      allOf:
      - $ref: '#/components/schemas/JSONRPC'
      - type: object
        properties:
          result:
            $ref: '#/components/schemas/BlockComplete'
    BlockResultsResponse:
      required:
      - id
      - jsonrpc
      - result
      type: object
      properties:
        jsonrpc:
          type: string
          example: "2.0"
        id:
          type: integer
          example: 0
        result:
          $ref: '#/components/schemas/BlockResultsResponse_result'
      example:
        result:
          txs_results:
          - code: "0"
            codespace: ibc
            data: ""
            log: not enough gas
            gas_used: "100"
            gas_wanted: "100"
            events:
            - attributes:
              - index: false
                value: send
                key: action
              - index: false
                value: send
                key: action
              type: app
            - attributes:
              - index: false
                value: send
                key: action
              - index: false
                value: send
                key: action
              type: app
            info: ""
          - code: "0"
            codespace: ibc
            data: ""
            log: not enough gas
            gas_used: "100"
            gas_wanted: "100"
            events:
            - attributes:
              - index: false
                value: send
                key: action
              - index: false
                value: send
                key: action
              type: app
            - attributes:
              - index: false
                value: send
                key: action
              - index: false
                value: send
                key: action
              type: app
            info: ""
          finalize_block_events:
          - null
          - null
          validator_updates:
          - power: "300"
            pub_key:
              type: tendermint/PubKeyEd25519
              value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
          - power: "300"
            pub_key:
              type: tendermint/PubKeyEd25519
              value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
          consensus_param_updates:
            evidence:
              max_age: "100000"
            validator:
              pub_key_types:
              - ed25519
            block:
              time_iota_ms: "1000"
              max_bytes: "22020096"
              max_gas: "1000"
          height: "12"
        id: 0
        jsonrpc: "2.0"
    CommitResponse:
      required:
      - id
      - jsonrpc
      - result
      type: object
      properties:
        jsonrpc:
          type: string
          example: "2.0"
        id:
          type: integer
          example: 0
        result:
          $ref: '#/components/schemas/CommitResponse_result'
      example:
        result:
          signed_header:
            commit:
              round: 0
              block_id:
                parts:
                  total: 1
                  hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
                hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
              signatures:
              - signature: 14jaTQXYRt8kbLKEhdHq7AXycrFImiLuZx50uOjs2+Zv+2i7RTG/jnObD07Jo2ubZ8xd7bNBJMqkgtkd0oQHAw==
                validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
                block_id_flag: 2
                timestamp: 2019-04-22T17:01:58.376629719Z
              - signature: 14jaTQXYRt8kbLKEhdHq7AXycrFImiLuZx50uOjs2+Zv+2i7RTG/jnObD07Jo2ubZ8xd7bNBJMqkgtkd0oQHAw==
                validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
                block_id_flag: 2
                timestamp: 2019-04-22T17:01:58.376629719Z
              height: "1311801"
            header:
              validators_hash: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
              chain_id: cosmoshub-2
              consensus_hash: 0F2908883A105C793B74495EB7D6DF2EEA479ED7FC9349206A65CB0F9987A0B8
              proposer_address: D540AB022088612AC74B287D076DBFBC4A377A2E
              next_validators_hash: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
              version:
                app: "0"
                block: "10"
              data_hash: 970886F99E77ED0D60DA8FCE0447C2676E59F2F77302B0C4AA10E1D02F18EF73
              last_results_hash: ""
              last_block_id:
                parts:
                  total: 1
                  hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
                hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
              evidence_hash: ""
              app_hash: 223BF64D4A01074DC523A80E76B9BBC786C791FB0A1893AC5B14866356FCFD6C
              time: 2019-04-22T17:01:51.701356223Z
              height: "12"
              last_commit_hash: 21B9BC845AD2CB2C4193CDD17BFC506F1EBE5A7402E84AD96E64171287A34812
          canonical: true
        id: 0
        jsonrpc: "2.0"
    ValidatorsResponse:
      required:
      - id
      - jsonrpc
      - result
      type: object
      properties:
        jsonrpc:
          type: string
          example: "2.0"
        id:
          type: integer
          example: 0
        result:
          $ref: '#/components/schemas/ValidatorsResponse_result'
      example:
        result:
          total: "25"
          validators:
          - address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
            proposer_priority: "-11896414"
            pub_key:
              type: tendermint/PubKeyEd25519
              value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
            voting_power: "239727"
          - address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
            proposer_priority: "-11896414"
            pub_key:
              type: tendermint/PubKeyEd25519
              value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
            voting_power: "239727"
          count: "1"
          block_height: "55"
        id: 0
        jsonrpc: "2.0"
    GenesisResponse:
      required:
      - id
      - jsonrpc
      - result
      type: object
      properties:
        jsonrpc:
          type: string
          example: "2.0"
        id:
          type: integer
          example: 0
        result:
          $ref: '#/components/schemas/GenesisResponse_result'
      example:
        result:
          genesis:
            app_state: {}
            genesis_time: 2019-04-22T17:00:00Z
            chain_id: cosmoshub-2
            initial_height: "2"
            validators:
            - address: B00A6323737F321EB0B8D59C6FD497A14B60938A
              name: Certus One
              power: "9328525"
              pub_key:
                type: tendermint/PubKeyEd25519
                value: cOQZvh/h9ZioSeUMZB/1Vy1Xo5x2sjrVjlE/qHnYifM=
            - address: B00A6323737F321EB0B8D59C6FD497A14B60938A
              name: Certus One
              power: "9328525"
              pub_key:
                type: tendermint/PubKeyEd25519
                value: cOQZvh/h9ZioSeUMZB/1Vy1Xo5x2sjrVjlE/qHnYifM=
            consensus_params:
              evidence:
                max_age: "100000"
              validator:
                pub_key_types:
                - ed25519
              block:
                time_iota_ms: "1000"
                max_bytes: "22020096"
                max_gas: "1000"
            app_hash: ""
        id: 0
        jsonrpc: "2.0"
    GenesisChunkedResponse:
      required:
      - id
      - jsonrpc
      - result
      type: object
      properties:
        jsonrpc:
          type: string
          example: "2.0"
        id:
          type: integer
          example: 0
        result:
          $ref: '#/components/schemas/GenesisChunkedResponse_result'
      example:
        result:
          total: 1
          data: Z2VuZXNpcwo=
          chunk: 0
        id: 0
        jsonrpc: "2.0"
    DumpConsensusResponse:
      required:
      - id
      - jsonrpc
      - result
      type: object
      properties:
        jsonrpc:
          type: string
          example: "2.0"
        id:
          type: integer
          example: 0
        result:
          $ref: '#/components/schemas/DumpConsensusResponse_result'
      example:
        result:
          peers:
          - peer_state:
              stats:
                block_parts: "4786"
                votes: "1159558"
              round_state:
                proposal: false
                last_commit: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                catchup_commit_round: -1
                last_commit_round: 0
                catchup_commit: ____________________________________________________________________________________________________
                proposal_pol: ____________________________________________________________________________________________________
                precommits: ____________________________________________________________________________________________________
                prevotes: ___________________x________________________________________________________________________________
                start_time: 2019-08-05T11:28:49.21730864Z
                proposal_block_parts_header:
                  total: 0
                  hash: ""
                round: "0"
                step: 3
                proposal_pol_round: -1
                height: "1311801"
            node_address: 357f6a6c1d27414579a8185060aa8adf9815c43c@68.183.41.207:26656
          - peer_state:
              stats:
                block_parts: "4786"
                votes: "1159558"
              round_state:
                proposal: false
                last_commit: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                catchup_commit_round: -1
                last_commit_round: 0
                catchup_commit: ____________________________________________________________________________________________________
                proposal_pol: ____________________________________________________________________________________________________
                precommits: ____________________________________________________________________________________________________
                prevotes: ___________________x________________________________________________________________________________
                start_time: 2019-08-05T11:28:49.21730864Z
                proposal_block_parts_header:
                  total: 0
                  hash: ""
                round: "0"
                step: 3
                proposal_pol_round: -1
                height: "1311801"
            node_address: 357f6a6c1d27414579a8185060aa8adf9815c43c@68.183.41.207:26656
          round_state:
            locked_round: -1
            last_commit:
              votes_bit_array: "BA{100:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx}\
                \ 170220253/170220253 = 1.00"
              peer_maj_23s: {}
              votes:
              - "Vote{0:000001E443FD 1311800/00/2(Precommit) 3071ADB27D1A 77EE1B6B6847\
                \ @ 2019-08-05T11:28:43.810128139Z}"
            validators:
              validators:
              - address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
                proposer_priority: "-11896414"
                pub_key:
                  type: tendermint/PubKeyEd25519
                  value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
                voting_power: "239727"
              - address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
                proposer_priority: "-11896414"
                pub_key:
                  type: tendermint/PubKeyEd25519
                  value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
                voting_power: "239727"
              proposer: null
            commit_time: 2019-08-05T11:28:44.064658805Z
            commit_round: -1
            triggered_timeout_precommit: false
            last_validators: null
            start_time: 2019-08-05T11:28:49.064658805Z
            round: 0
            valid_round: "-1"
            step: 3
            votes:
            - prevotes:
              - nil-Vote
              - "Vote{19:46A3F8B8393B 1311801/00/1(Prevote) 000000000000 64CE682305CB\
                \ @ 2019-08-05T11:28:47.374703444Z}"
              prevotes_bit_array: "BA{100:___________________x________________________________________________________________________________}\
                \ 209706/170220253 = 0.00"
              round: "0"
              precommits_bit_array: "BA{100:____________________________________________________________________________________________________}\
                \ 0/170220253 = 0.00"
              precommits:
              - nil-Vote
            - prevotes:
              - nil-Vote
              - "Vote{19:46A3F8B8393B 1311801/00/1(Prevote) 000000000000 64CE682305CB\
                \ @ 2019-08-05T11:28:47.374703444Z}"
              prevotes_bit_array: "BA{100:___________________x________________________________________________________________________________}\
                \ 209706/170220253 = 0.00"
              round: "0"
              precommits_bit_array: "BA{100:____________________________________________________________________________________________________}\
                \ 0/170220253 = 0.00"
              precommits:
              - nil-Vote
            height: "1311801"
        id: 0
        jsonrpc: "2.0"
    ConsensusStateResponse:
      required:
      - id
      - jsonrpc
      - result
      type: object
      properties:
        jsonrpc:
          type: string
          example: "2.0"
        id:
          type: integer
          example: 0
        result:
          $ref: '#/components/schemas/ConsensusStateResponse_result'
      example:
        result:
          round_state:
            proposal_block_hash: 634ADAF1F402663BEC2ABC340ECE8B4B45AA906FA603272ACC5F5EED3097E009
            start_time: 2019-08-01T11:52:38.962730289Z
            locked_block_hash: 634ADAF1F402663BEC2ABC340ECE8B4B45AA906FA603272ACC5F5EED3097E009
            proposer:
              address: D540AB022088612AC74B287D076DBFBC4A377A2E
              index: 0
            valid_block_hash: 634ADAF1F402663BEC2ABC340ECE8B4B45AA906FA603272ACC5F5EED3097E009
            height_vote_set:
            - prevotes:
              - "Vote{0:000001E443FD 1262197/00/1(Prevote) 634ADAF1F402 7BB974E1BA40\
                \ @ 2019-08-01T11:52:35.513572509Z}"
              - nil-Vote
              prevotes_bit_array: "BA{100:xxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx}\
                \ 169753436/170151262 = 1.00"
              round: 0
              precommits_bit_array: "BA{100:xxxxxx_xxxxx_xxxx_x_xxx_xx_xx_xx__x_x_x__xxxxxxxxxxxxxx_xxxx_xx_xxxxxx_xxxxxxxx_xxxx_xxx_x_xxxx__xxx}\
                \ 118726247/170151262 = 0.70"
              precommits:
              - "Vote{5:18C78D135C9D 1262197/00/2(Precommit) 634ADAF1F402 8B5EFFFEABCD\
                \ @ 2019-08-01T11:52:36.25600005Z}"
              - nil-Vote
            - prevotes:
              - "Vote{0:000001E443FD 1262197/00/1(Prevote) 634ADAF1F402 7BB974E1BA40\
                \ @ 2019-08-01T11:52:35.513572509Z}"
              - nil-Vote
              prevotes_bit_array: "BA{100:xxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx}\
                \ 169753436/170151262 = 1.00"
              round: 0
              precommits_bit_array: "BA{100:xxxxxx_xxxxx_xxxx_x_xxx_xx_xx_xx__x_x_x__xxxxxxxxxxxxxx_xxxx_xx_xxxxxx_xxxxxxxx_xxxx_xxx_x_xxxx__xxx}\
                \ 118726247/170151262 = 0.70"
              precommits:
              - "Vote{5:18C78D135C9D 1262197/00/2(Precommit) 634ADAF1F402 8B5EFFFEABCD\
                \ @ 2019-08-01T11:52:36.25600005Z}"
              - nil-Vote
            height/round/step: 1262197/0/8
        id: 0
        jsonrpc: "2.0"
    ConsensusParamsResponse:
      required:
      - id
      - jsonrpc
      - result
      type: object
      properties:
        jsonrpc:
          type: string
          example: "2.0"
        id:
          type: integer
          example: 0
        result:
          $ref: '#/components/schemas/ConsensusParamsResponse_result'
      example:
        result:
          consensus_params:
            evidence:
              max_age: "100000"
            validator:
              pub_key_types:
              - ed25519
            block:
              time_iota_ms: "1000"
              max_bytes: "22020096"
              max_gas: "1000"
          block_height: "1"
        id: 0
        jsonrpc: "2.0"
    NumUnconfirmedTransactionsResponse:
      required:
      - id
      - jsonrpc
      - result
      type: object
      properties:
        jsonrpc:
          type: string
          example: "2.0"
        id:
          type: integer
          example: 0
        result:
          $ref: '#/components/schemas/NumUnconfirmedTransactionsResponse_result'
      example:
        result:
          total: "82"
          n_txs: "31"
          total_bytes: "19974"
        id: 0
        jsonrpc: "2.0"
    UnconfirmedTransactionsResponse:
      required:
      - id
      - jsonrpc
      - result
      type: object
      properties:
        jsonrpc:
          type: string
          example: "2.0"
        id:
          type: integer
          example: 0
        result:
          $ref: '#/components/schemas/UnconfirmedTransactionsResponse_result'
      example:
        result:
          total: "82"
          n_txs: "82"
          total_bytes: "19974"
          txs:
          - gAPwYl3uCjCMTXENChSMnIkb5ZpYHBKIZqecFEV2tuZr7xIUA75/FmYq9WymsOBJ0XSJ8yV8zmQKMIxNcQ0KFIyciRvlmlgcEohmp5wURXa25mvvEhQbrvwbvlNiT+Yjr86G+YQNx7kRVgowjE1xDQoUjJyJG+WaWBwSiGannBRFdrbma+8SFK2m+1oxgILuQLO55n8mWfnbIzyPCjCMTXENChSMnIkb5ZpYHBKIZqecFEV2tuZr7xIUQNGfkmhTNMis4j+dyMDIWXdIPiYKMIxNcQ0KFIyciRvlmlgcEohmp5wURXa25mvvEhS8sL0D0wwgGCItQwVowak5YB38KRIUCg4KBXVhdG9tEgUxMDA1NBDoxRgaagom61rphyECn8x7emhhKdRCB2io7aS/6Cpuq5NbVqbODmqOT3jWw6kSQKUresk+d+Gw0BhjiggTsu8+1voW+VlDCQ1GRYnMaFOHXhyFv7BCLhFWxLxHSAYT8a5XqoMayosZf9mANKdXArA=
        id: 0
        jsonrpc: "2.0"
    TxSearchResponse:
      required:
      - id
      - jsonrpc
      - result
      type: object
      properties:
        jsonrpc:
          type: string
          example: "2.0"
        id:
          type: integer
          example: 0
        result:
          $ref: '#/components/schemas/TxSearchResponse_result'
      example:
        result:
          total_count: "2"
          txs:
          - tx: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
            tx_result:
              log: "[{\"msg_index\":\"0\",\"success\":true,\"log\":\"\"}]"
              gas_used: "28596"
              gas_wanted: "200000"
              tags:
                index: false
                value: send
                key: action
            index: 0
            proof:
              RootHash: 72FE6BF6D4109105357AECE0A82E99D0F6288854D16D8767C5E72C57F876A14D
              Proof:
                total: "2"
                leaf_hash: eoJxKCzF3m72Xiwb/Q43vJ37/2Sx8sfNS9JKJohlsYI=
                aunts:
                - eWb+HG/eMmukrQj4vNGyFYb3nKQncAWacq4HF5eFzDY=
                index: "0"
              Data: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
            hash: D70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
            height: "1000"
          - tx: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
            tx_result:
              log: "[{\"msg_index\":\"0\",\"success\":true,\"log\":\"\"}]"
              gas_used: "28596"
              gas_wanted: "200000"
              tags:
                index: false
                value: send
                key: action
            index: 0
            proof:
              RootHash: 72FE6BF6D4109105357AECE0A82E99D0F6288854D16D8767C5E72C57F876A14D
              Proof:
                total: "2"
                leaf_hash: eoJxKCzF3m72Xiwb/Q43vJ37/2Sx8sfNS9JKJohlsYI=
                aunts:
                - eWb+HG/eMmukrQj4vNGyFYb3nKQncAWacq4HF5eFzDY=
                index: "0"
              Data: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
            hash: D70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
            height: "1000"
        id: 0
        jsonrpc: "2.0"
    TxResponse:
      required:
      - id
      - jsonrpc
      - result
      type: object
      properties:
        jsonrpc:
          type: string
          example: "2.0"
        id:
          type: integer
          example: 0
        result:
          $ref: '#/components/schemas/TxResponse_result'
      example:
        result:
          tx: 5wHwYl3uCkaoo2GaChQmSIu8hxpJxLcCuIi8fiHN4TMwrRIU/Af1cEG7Rcs/6LjTl7YjRSymJfYaFAoFdWF0b20SCzE0OTk5OTk1MDAwEhMKDQoFdWF0b20SBDUwMDAQwJoMGmoKJuta6YchAwswBShaB1wkZBctLIhYqBC3JrAI28XGzxP+rVEticGEEkAc+khTkKL9CDE47aDvjEHvUNt+izJfT4KVF2v2JkC+bmlH9K08q3PqHeMI9Z5up+XMusnTqlP985KF+SI5J3ZOIhhNYWRlIGJ5IENpcmNsZSB3aXRoIGxvdmU=
          tx_result:
            log: "[{\"msg_index\":\"0\",\"success\":true,\"log\":\"\"}]"
            gas_used: "28596"
            gas_wanted: "200000"
            tags:
            - index: false
              value: send
              key: action
            - index: false
              value: send
              key: action
          index: 0
          hash: D70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
          height: "1000"
        id: 0
        jsonrpc: "2.0"
    ABCIInfoResponse:
      required:
      - id
      - jsonrpc
      type: object
      properties:
        jsonrpc:
          type: string
          example: "2.0"
        id:
          type: integer
          example: 0
        result:
          $ref: '#/components/schemas/ABCIInfoResponse_result'
      example:
        result:
          response:
            data: "{\"size\":0}"
            app_version: "1314126"
            version: 0.16.1
        id: 0
        jsonrpc: "2.0"
    ABCIQueryResponse:
      required:
      - error
      - id
      - jsonrpc
      - result
      type: object
      properties:
        error:
          type: string
          example: ""
        result:
          $ref: '#/components/schemas/ABCIQueryResponse_result'
        id:
          type: integer
          example: 0
        jsonrpc:
          type: string
          example: "2.0"
      example:
        result:
          response:
            code: "0"
            log: exists
            index: "-1"
            proof: 010114FED0DAD959F36091AD761C922ABA3CBF1D8349990101020103011406AA2262E2F448242DF2C2607C3CDC705313EE3B0001149D16177BC71E445476174622EA559715C293740C
            value: "61626364"
            key: "61626364"
            height: "0"
        id: 0
        error: ""
        jsonrpc: "2.0"
    BroadcastEvidenceResponse:
      required:
      - id
      - jsonrpc
      type: object
      properties:
        error:
          type: string
          example: ""
        result:
          type: string
          example: ""
        id:
          type: integer
          example: 0
        jsonrpc:
          type: string
          example: "2.0"
      example:
        result: ""
        id: 0
        error: ""
        jsonrpc: "2.0"
    BroadcastTxCommitResponse:
      required:
      - error
      - id
      - jsonrpc
      - result
      type: object
      properties:
        error:
          type: string
          example: ""
        result:
          $ref: '#/components/schemas/BroadcastTxCommitResponse_result'
        id:
          type: integer
          example: 0
        jsonrpc:
          type: string
          example: "2.0"
      example:
        result:
          check_tx: null
          deliver_tx:
            code: "0"
            data: ""
            log: ""
          hash: 75CA0F856A4DA078FC4911580360E70CEFB2EBEE
          height: "26682"
        id: 0
        error: ""
        jsonrpc: "2.0"
    CheckTxResponse:
      required:
      - error
      - id
      - jsonrpc
      - result
      type: object
      properties:
        error:
          type: string
          example: ""
        result:
          $ref: '#/components/schemas/CheckTxResponse_result'
        id:
          type: integer
          example: 0
        jsonrpc:
          type: string
          example: "2.0"
      example:
        result:
          code: "0"
          codespace: bank
          data: ""
          log: ""
          gas_used: "0"
          gas_wanted: "1"
          events:
          - attributes:
            - index: false
              value: send
              key: action
            - index: false
              value: send
              key: action
            type: app
          - attributes:
            - index: false
              value: send
              key: action
            - index: false
              value: send
              key: action
            type: app
          info: ""
        id: 0
        error: ""
        jsonrpc: "2.0"
    BroadcastTxResponse:
      required:
      - error
      - id
      - jsonrpc
      - result
      type: object
      properties:
        jsonrpc:
          type: string
          example: "2.0"
        id:
          type: integer
          example: 0
        result:
          $ref: '#/components/schemas/BroadcastTxResponse_result'
        error:
          type: string
          example: ""
      example:
        result:
          code: "0"
          codespace: ibc
          data: ""
          log: ""
          hash: 0D33F2F03A5234F38706E43004489E061AC40A2E
        id: 0
        jsonrpc: "2.0"
        error: ""
    dialResp:
      type: object
      properties:
        Log:
          type: string
          example: Dialing seeds in progress. See /net_info for details
      example:
        Log: Dialing seeds in progress. See /net_info for details
    BlockSearchResponse:
      required:
      - id
      - jsonrpc
      - result
      type: object
      properties:
        jsonrpc:
          type: string
          example: "2.0"
        id:
          type: integer
          example: 0
        result:
          $ref: '#/components/schemas/BlockSearchResponse_result'
      example:
        result:
          blocks:
          - block:
              data:
              - yQHwYl3uCkKoo2GaChRnd+THLQ2RM87nEZrE19910Z28ABIUWW/t8AtIMwcyU0sT32RcMDI9GF0aEAoFdWF0b20SBzEwMDAwMDASEwoNCgV1YXRvbRIEMzEwMRCd8gEaagom61rphyEDoJPxlcjRoNDtZ9xMdvs+lRzFaHe2dl2P5R2yVCWrsHISQKkqX5H1zXAIJuC57yw0Yb03Fwy75VRip0ZBtLiYsUqkOsPUoQZAhDNP+6LY+RUwz/nVzedkF0S29NZ32QXdGv0=
              - yQHwYl3uCkKoo2GaChRnd+THLQ2RM87nEZrE19910Z28ABIUWW/t8AtIMwcyU0sT32RcMDI9GF0aEAoFdWF0b20SBzEwMDAwMDASEwoNCgV1YXRvbRIEMzEwMRCd8gEaagom61rphyEDoJPxlcjRoNDtZ9xMdvs+lRzFaHe2dl2P5R2yVCWrsHISQKkqX5H1zXAIJuC57yw0Yb03Fwy75VRip0ZBtLiYsUqkOsPUoQZAhDNP+6LY+RUwz/nVzedkF0S29NZ32QXdGv0=
              evidence:
              - total_voting_power: 1
                validator:
                  address: address
                  pub_key:
                    type: tendermint/PubKeyEd25519
                    value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
                  voting_power: 5
                time: 6
                type: type
                height: 0
              - total_voting_power: 1
                validator:
                  address: address
                  pub_key:
                    type: tendermint/PubKeyEd25519
                    value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
                  voting_power: 5
                time: 6
                type: type
                height: 0
              last_commit:
                round: 2
                block_id: null
                signatures:
                - round: 0
                  signature: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
                  validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
                  validator_index: 0
                  type: 2
                  block_id: null
                  height: "1262085"
                  timestamp: 2019-08-01T11:39:38.867269833Z
                - round: 0
                  signature: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
                  validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
                  validator_index: 0
                  type: 2
                  block_id: null
                  height: "1262085"
                  timestamp: 2019-08-01T11:39:38.867269833Z
                height: 5
              header:
                validators_hash: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
                chain_id: cosmoshub-2
                consensus_hash: 0F2908883A105C793B74495EB7D6DF2EEA479ED7FC9349206A65CB0F9987A0B8
                proposer_address: D540AB022088612AC74B287D076DBFBC4A377A2E
                next_validators_hash: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
                version:
                  app: "0"
                  block: "10"
                data_hash: 970886F99E77ED0D60DA8FCE0447C2676E59F2F77302B0C4AA10E1D02F18EF73
                last_results_hash: ""
                last_block_id:
                  parts:
                    total: 1
                    hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
                  hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
                evidence_hash: ""
                app_hash: 223BF64D4A01074DC523A80E76B9BBC786C791FB0A1893AC5B14866356FCFD6C
                time: 2019-04-22T17:01:51.701356223Z
                height: "12"
                last_commit_hash: 21B9BC845AD2CB2C4193CDD17BFC506F1EBE5A7402E84AD96E64171287A34812
            block_id:
              parts:
                total: 1
                hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
              hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
          - block:
              data:
              - yQHwYl3uCkKoo2GaChRnd+THLQ2RM87nEZrE19910Z28ABIUWW/t8AtIMwcyU0sT32RcMDI9GF0aEAoFdWF0b20SBzEwMDAwMDASEwoNCgV1YXRvbRIEMzEwMRCd8gEaagom61rphyEDoJPxlcjRoNDtZ9xMdvs+lRzFaHe2dl2P5R2yVCWrsHISQKkqX5H1zXAIJuC57yw0Yb03Fwy75VRip0ZBtLiYsUqkOsPUoQZAhDNP+6LY+RUwz/nVzedkF0S29NZ32QXdGv0=
              - yQHwYl3uCkKoo2GaChRnd+THLQ2RM87nEZrE19910Z28ABIUWW/t8AtIMwcyU0sT32RcMDI9GF0aEAoFdWF0b20SBzEwMDAwMDASEwoNCgV1YXRvbRIEMzEwMRCd8gEaagom61rphyEDoJPxlcjRoNDtZ9xMdvs+lRzFaHe2dl2P5R2yVCWrsHISQKkqX5H1zXAIJuC57yw0Yb03Fwy75VRip0ZBtLiYsUqkOsPUoQZAhDNP+6LY+RUwz/nVzedkF0S29NZ32QXdGv0=
              evidence:
              - total_voting_power: 1
                validator:
                  address: address
                  pub_key:
                    type: tendermint/PubKeyEd25519
                    value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
                  voting_power: 5
                time: 6
                type: type
                height: 0
              - total_voting_power: 1
                validator:
                  address: address
                  pub_key:
                    type: tendermint/PubKeyEd25519
                    value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
                  voting_power: 5
                time: 6
                type: type
                height: 0
              last_commit:
                round: 2
                block_id: null
                signatures:
                - round: 0
                  signature: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
                  validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
                  validator_index: 0
                  type: 2
                  block_id: null
                  height: "1262085"
                  timestamp: 2019-08-01T11:39:38.867269833Z
                - round: 0
                  signature: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
                  validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
                  validator_index: 0
                  type: 2
                  block_id: null
                  height: "1262085"
                  timestamp: 2019-08-01T11:39:38.867269833Z
                height: 5
              header:
                validators_hash: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
                chain_id: cosmoshub-2
                consensus_hash: 0F2908883A105C793B74495EB7D6DF2EEA479ED7FC9349206A65CB0F9987A0B8
                proposer_address: D540AB022088612AC74B287D076DBFBC4A377A2E
                next_validators_hash: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
                version:
                  app: "0"
                  block: "10"
                data_hash: 970886F99E77ED0D60DA8FCE0447C2676E59F2F77302B0C4AA10E1D02F18EF73
                last_results_hash: ""
                last_block_id:
                  parts:
                    total: 1
                    hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
                  hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
                evidence_hash: ""
                app_hash: 223BF64D4A01074DC523A80E76B9BBC786C791FB0A1893AC5B14866356FCFD6C
                time: 2019-04-22T17:01:51.701356223Z
                height: "12"
                last_commit_hash: 21B9BC845AD2CB2C4193CDD17BFC506F1EBE5A7402E84AD96E64171287A34812
            block_id:
              parts:
                total: 1
                hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
              hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
          total_count: 2
        id: 0
        jsonrpc: "2.0"
    ValidatorPriority:
      type: object
      properties:
        address:
          type: string
          example: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
        pub_key:
          $ref: '#/components/schemas/BlockResultsResponse_result_pub_key'
        voting_power:
          type: string
          example: "239727"
        proposer_priority:
          type: string
          example: "-11896414"
      example:
        address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
        proposer_priority: "-11896414"
        pub_key:
          type: tendermint/PubKeyEd25519
          value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
        voting_power: "239727"
    Validator:
      type: object
      properties:
        pub_key:
          $ref: '#/components/schemas/PubKey'
        voting_power:
          type: integer
        address:
          type: string
      example:
        address: address
        pub_key:
          type: tendermint/PubKeyEd25519
          value: A6DoBUypNtUAyEHWtQ9bFjfNg8Bo9CrnkUGl6k6OHN4=
        voting_power: 5
    ConsensusParams:
      required:
      - block
      - evidence
      - validator
      type: object
      properties:
        block:
          $ref: '#/components/schemas/ConsensusParams_block'
        evidence:
          $ref: '#/components/schemas/ConsensusParams_evidence'
        validator:
          $ref: '#/components/schemas/ConsensusParams_validator'
      nullable: true
      example:
        evidence:
          max_age: "100000"
        validator:
          pub_key_types:
          - ed25519
        block:
          time_iota_ms: "1000"
          max_bytes: "22020096"
          max_gas: "1000"
    Event:
      type: object
      properties:
        key:
          type: string
          example: action
        value:
          type: string
          example: send
        index:
          type: boolean
          example: false
      example:
        index: false
        value: send
        key: action
    BlockHeader:
      required:
      - app_hash
      - chain_id
      - consensus_hash
      - data_hash
      - evidence_hash
      - height
      - last_block_id
      - last_commit_hash
      - last_results_hash
      - next_validators_hash
      - proposer_address
      - time
      - validators_hash
      - version
      type: object
      properties:
        version:
          $ref: '#/components/schemas/BlockHeader_version'
        chain_id:
          type: string
          example: cosmoshub-2
        height:
          type: string
          example: "12"
        time:
          type: string
          example: 2019-04-22T17:01:51.701356223Z
        last_block_id:
          $ref: '#/components/schemas/BlockID'
        last_commit_hash:
          type: string
          example: 21B9BC845AD2CB2C4193CDD17BFC506F1EBE5A7402E84AD96E64171287A34812
        data_hash:
          type: string
          example: 970886F99E77ED0D60DA8FCE0447C2676E59F2F77302B0C4AA10E1D02F18EF73
        validators_hash:
          type: string
          example: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
        next_validators_hash:
          type: string
          example: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
        consensus_hash:
          type: string
          example: 0F2908883A105C793B74495EB7D6DF2EEA479ED7FC9349206A65CB0F9987A0B8
        app_hash:
          type: string
          example: 223BF64D4A01074DC523A80E76B9BBC786C791FB0A1893AC5B14866356FCFD6C
        last_results_hash:
          type: string
          example: ""
        evidence_hash:
          type: string
          example: ""
        proposer_address:
          type: string
          example: D540AB022088612AC74B287D076DBFBC4A377A2E
      example:
        validators_hash: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
        chain_id: cosmoshub-2
        consensus_hash: 0F2908883A105C793B74495EB7D6DF2EEA479ED7FC9349206A65CB0F9987A0B8
        proposer_address: D540AB022088612AC74B287D076DBFBC4A377A2E
        next_validators_hash: D658BFD100CA8025CFD3BECFE86194322731D387286FBD26E059115FD5F2BCA0
        version:
          app: "0"
          block: "10"
        data_hash: 970886F99E77ED0D60DA8FCE0447C2676E59F2F77302B0C4AA10E1D02F18EF73
        last_results_hash: ""
        last_block_id:
          parts:
            total: 1
            hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
          hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
        evidence_hash: ""
        app_hash: 223BF64D4A01074DC523A80E76B9BBC786C791FB0A1893AC5B14866356FCFD6C
        time: 2019-04-22T17:01:51.701356223Z
        height: "12"
        last_commit_hash: 21B9BC845AD2CB2C4193CDD17BFC506F1EBE5A7402E84AD96E64171287A34812
    BlockID:
      required:
      - hash
      - parts
      properties:
        hash:
          type: string
          example: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
        parts:
          $ref: '#/components/schemas/BlockID_parts'
      example:
        parts:
          total: 1
          hash: 38D4B26B5B725C4F13571EFE022C030390E4C33C8CF6F88EDD142EA769642DBD
        hash: 112BC173FD838FB68EB43476816CD7B4C6661B6884A9E357B417EE957E1CF8F7
    NodeInfo_other:
      type: object
      properties:
        tx_index:
          type: string
          example: "on"
        rpc_address:
          type: string
          example: tcp:0.0.0.0:26657
    Block_last_commit:
      type: object
      properties:
        height:
          type: integer
        round:
          type: integer
        block_id:
          $ref: '#/components/schemas/BlockID'
        signatures:
          type: array
          items:
            $ref: '#/components/schemas/Commit'
      example:
        round: 2
        block_id: null
        signatures:
        - round: 0
          signature: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
          validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
          validator_index: 0
          type: 2
          block_id: null
          height: "1262085"
          timestamp: 2019-08-01T11:39:38.867269833Z
        - round: 0
          signature: DBchvucTzAUEJnGYpNvMdqLhBAHG4Px8BsOBB3J3mAFCLGeuG7uJqy+nVngKzZdPhPi8RhmE/xcw/M9DOJjEDg==
          validator_address: 000001E443FD237E4B616E2FA69DF4EE3D49A94F
          validator_index: 0
          type: 2
          block_id: null
          height: "1262085"
          timestamp: 2019-08-01T11:39:38.867269833Z
        height: 5
    BlockResultsResponse_result_events:
      type: object
      properties:
        type:
          type: string
          example: app
        attributes:
          type: array
          nullable: false
          items:
            $ref: '#/components/schemas/Event'
      example:
        attributes:
        - index: false
          value: send
          key: action
        - index: false
          value: send
          key: action
        type: app
    BlockResultsResponse_result_txs_results:
      type: object
      properties:
        code:
          type: string
          example: "0"
        data:
          type: string
          example: ""
        log:
          type: string
          example: not enough gas
        info:
          type: string
          example: ""
        gas_wanted:
          type: string
          example: "100"
        gas_used:
          type: string
          example: "100"
        events:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/BlockResultsResponse_result_events'
        codespace:
          type: string
          example: ibc
      example:
        code: "0"
        codespace: ibc
        data: ""
        log: not enough gas
        gas_used: "100"
        gas_wanted: "100"
        events:
        - attributes:
          - index: false
            value: send
            key: action
          - index: false
            value: send
            key: action
          type: app
        - attributes:
          - index: false
            value: send
            key: action
          - index: false
            value: send
            key: action
          type: app
        info: ""
    BlockResultsResponse_result_pub_key:
      required:
      - type
      - value
      type: object
      properties:
        type:
          type: string
          example: tendermint/PubKeyEd25519
        value:
          type: string
          example: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
      example:
        type: tendermint/PubKeyEd25519
        value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
    BlockResultsResponse_result_validator_updates:
      type: object
      properties:
        pub_key:
          $ref: '#/components/schemas/BlockResultsResponse_result_pub_key'
        power:
          type: string
          example: "300"
      example:
        power: "300"
        pub_key:
          type: tendermint/PubKeyEd25519
          value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
    BlockResultsResponse_result:
      required:
      - height
      type: object
      properties:
        height:
          type: string
          example: "12"
        txs_results:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/BlockResultsResponse_result_txs_results'
        finalize_block_events:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/BlockResultsResponse_result_events'
        validator_updates:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/BlockResultsResponse_result_validator_updates'
        consensus_param_updates:
          $ref: '#/components/schemas/ConsensusParams'
      example:
        txs_results:
        - code: "0"
          codespace: ibc
          data: ""
          log: not enough gas
          gas_used: "100"
          gas_wanted: "100"
          events:
          - attributes:
            - index: false
              value: send
              key: action
            - index: false
              value: send
              key: action
            type: app
          - attributes:
            - index: false
              value: send
              key: action
            - index: false
              value: send
              key: action
            type: app
          info: ""
        - code: "0"
          codespace: ibc
          data: ""
          log: not enough gas
          gas_used: "100"
          gas_wanted: "100"
          events:
          - attributes:
            - index: false
              value: send
              key: action
            - index: false
              value: send
              key: action
            type: app
          - attributes:
            - index: false
              value: send
              key: action
            - index: false
              value: send
              key: action
            type: app
          info: ""
        finalize_block_events:
        - null
        - null
        validator_updates:
        - power: "300"
          pub_key:
            type: tendermint/PubKeyEd25519
            value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
        - power: "300"
          pub_key:
            type: tendermint/PubKeyEd25519
            value: 9tK9IT+FPdf2qm+5c2qaxi10sWP+3erWTKgftn2PaQM=
        consensus_param_updates:
          evidence:
            max_age: "100000"
          validator:
            pub_key_types:
            - ed25519
          block:
            time_iota_ms: "1000"
[...]
