version: '3'

services:
  node0:
    container_name: node0
    image: "ochain-validator"
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "26656-26657:26656-26657"
    environment:
      - ID=0
      - LOG=${LOG:-tendermint.log}
    command: [
      "-config", "/config",
      "-chainId", "84532",
      "-evmRpc", "https://base-sepolia.g.alchemy.com/v2/xBenb5WixfhG7vmhwV7tnOI6Iy9LytSw",
      "-portalAddress", "0x629c04197012af8e1c4eb92DF8CdA1ed71774488",
    ]
    volumes:
      - ./docker-data/node0:/data
    networks:
      localnet:
        ipv4_address: 192.167.10.2


networks:
  localnet:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 192.167.10.0/16